@model MyFarmIago.Models.Bovino

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bovino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoBovino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoBovino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EhLeiteira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EhLeiteira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
